data/slr.nc
data/LSLproj_decompGRIDDED/*
data/LSLproj_decompGRIDDED
data/*.py
data/LSLproj_griddedRCPs.tsv
app/*.pyc
app/static/plots/*
app/static/decomposition_plots/*
data/plots/*

data/*nc
.DS_store
*/.DS_Store
*.DS_Store
