{% extends "index.html" %}
{% block content %}
<div id="loading"><div id="overlay"></div><div id='overlay_text'><h1>Loading ... </h1></div></div>

<div id="content">

<div id="upper_block" align=left style="width: 100%; height: 100%; float: left; padding-right: 0%;">
    <div id="LeftPanel" align=left style="width: 45%; height: 100%; float: left; padding-left: 2%; padding-right: 2%; background: rgba(170,170,170,0.2);">
      <div id="LeftPanel" align=left style="width: 100%; height: 100%; float: left; background: rgba(170,170,170,0.0);">
        <div align='left'>
          <h2>Local Sea Level Projections</h2>
          <p>Oceanic processes and local effects as land subsidence lead to substantial <b>regional differences in sea level projections</b>.  This website allows you to browse local sea level projections provided by <a href="https://pubs.giss.nasa.gov/abs/ko01500z.html">Robert Kopp et al. (2014)</a>. <br>
             <div class="ui-widget">
              <form method="POST" action="/location_typed">
                <label for="tags">Search for a tide gauged station: </label>
                <input id="tags" name='station' value="{{name}}">
             </form>
            </div>
            You can also select a tide gauged station on the zoomable map.<br>
            <br></p>
        </div>
        <div id="map" style="width: 100%; height:300pt" class="smallmap"></div>
          <div class="container-fluid">
             <div class="row-fluid">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div id="map" class="map"></div>
                	<div id="popup" class="popup">
                		<a href="/" id="popup-closer"> </a>
                		<div id="popup-content"></div>
                	</div>
                </div>
             </div>
          </div>

        <script>


        var current_name = "{{name}}";

        var iconFeatures =[];
        // all grids
        var grid_names = {{grid_names|safe}};
        var grid_xmin = {{grid_xmin|safe}};
        var grid_xmax = {{grid_xmax|safe}};
        var grid_ymin = {{grid_ymin|safe}};
        var grid_ymax = {{grid_ymax|safe}};
        var ngrid = {{ngrid}};


        for (i = 0; i<ngrid; i++){
          if (grid_names[i]==current_name){
            var iconFeature = new ol.Feature({
              geometry: new ol.geom.Polygon.fromExtent(ol.proj.fromLonLat([grid_xmin[i],grid_ymin[i],grid_xmax[i],grid_ymax[i]], 'EPSG:4326'))  ,
              name:grid_names[i]
            });
            var iconStyle = new ol.style.Style({
              fill: new ol.style.Fill({
                color: [150, 0,150,0.3],
              }),
              stroke: new ol.style.Stroke({
                color: [150, 150,0,0.3],
                width: 2
              })
            });
            iconFeature.setStyle(iconStyle);
            iconFeatures.push(iconFeature);
          };
          if (grid_names[i]!=current_name){
            var iconFeature = new ol.Feature({
              geometry: new ol.geom.Polygon.fromExtent(ol.proj.fromLonLat([grid_xmin[i],grid_ymin[i],grid_xmax[i],grid_ymax[i]], 'EPSG:4326'))  ,
              name:grid_names[i]
            });
            var iconStyle = new ol.style.Style({
              fill: new ol.style.Fill({
                color: [150, 150,0,0.3],
              }),
              stroke: new ol.style.Stroke({
                color: [150, 150,0,0.3],
                width: 2
              })
            });
            iconFeature.setStyle(iconStyle);
            iconFeatures.push(iconFeature);
          };
        }


          // all stations as circles
          var station_names = {{station_names|safe}};
          var station_lons = {{station_lons|safe}};
          var station_lats = {{station_lats|safe}};
          var nstations = {{nstations}};

          var stationFeatures =[];

          for (i = 0; i<nstations; i++){
            if (station_names[i]==current_name){
              var iconFeature = new ol.Feature({
                geometry: new ol.geom.Point(ol.proj.fromLonLat([station_lons[i],station_lats[i]], 'EPSG:4326'))   ,
                name:station_names[i]
              });
              var iconStyle = new ol.style.Style({
                fill: new ol.style.Fill({
                  color: [150, 0,150,0.5],
                }),
                stroke: new ol.style.Stroke({
                  color: [150, 0,150,1],
                  width: 2
                })
              });
              iconFeature.setStyle(iconStyle);
              stationFeatures.push(iconFeature);
            };
            if (station_names[i]!=current_name){
              var iconFeature = new ol.Feature({
                geometry: new ol.geom.Point(ol.proj.fromLonLat([station_lons[i],station_lats[i]], 'EPSG:4326'))   ,
                name:station_names[i]
              });
              var iconStyle = new ol.style.Style({
                fill: new ol.style.Fill({
                  color: [150, 0,0,0.3],
                }),
                stroke: new ol.style.Stroke({
                  color: [150, 0,0,1],
                  width: 2
                })
              });
              iconFeature.setStyle(iconStyle);
              stationFeatures.push(iconFeature);
            };
          }

          $( function() {
            var availableTags = station_names;
            $( "#tags" ).autocomplete({
              source: availableTags
            });
          } );

        var distance = 40;

        var source = new ol.source.Vector({
          features: stationFeatures
        });

        var centroid = function(feature) {
          return feature.getInteriorPoint();
        };

        var clusterSource = new ol.source.Cluster({
          distance: 40,
          source: source,
          projection: 'EPSG:4326'
        });



        var styleCache = {};
        var clusters = new ol.layer.Vector({
          source: clusterSource,
          style: function(feature) {
            var size = feature.get('features').length;
            var style = styleCache[size];
            if (!style) {
              style = new ol.style.Style({
                image: new ol.style.Circle({
                  radius: 10,
                  stroke: new ol.style.Stroke({
                    color: '#fff'
                  }),
                  fill: new ol.style.Fill({
                    color: [150, 0,150,1]
                  })
                }),
                text: new ol.style.Text({
                  text: size.toString(),
                  fill: new ol.style.Fill({
                    color: '#fff'
                  })
                })
              });
              styleCache[size] = style;
            }
            return style;
          }
        });

          //
          var vectorSource = new ol.source.Vector({
            features: iconFeatures
          });

          var vectorLayer = new ol.layer.Vector({
            source: vectorSource,
          });

          var stationSource = new ol.source.Vector({
            features: stationFeatures
          });

          var stationLayer = new ol.layer.Vector({
            source: stationSource,
          });

          var rasterLayer = new ol.layer.Tile({
            source: new ol.source.TileJSON({
              url: 'https://api.tiles.mapbox.com/v3/mapbox.natural-earth-hypso-bathy.json?secure',
              crossOrigin: ''
            })
          });

          var center_lon = {{center_lon}};
          var center_lat = {{center_lat}};
          var zoom = {{zoom}};
          var map = new ol.Map({
            layers: [rasterLayer, vectorLayer, stationLayer, clusters],
            target: document.getElementById('map'),
            view: new ol.View({
              center: ol.proj.fromLonLat([center_lon, center_lat], 'EPSG:4326'),
              zoom: zoom,
              projection: 'EPSG:4326'
            })
          });

          function elem_id(id) {
          	return document.getElementById(id);
          }

          var popup = elem_id('popup');
          var popup_closer = elem_id('popup-closer');
          var popup_content = elem_id('popup-content');
          var olpopup = new ol.Overlay({
              element: popup,
              autoPan: false
          });
          map.addOverlay(olpopup);
          popup_closer.onclick = function () {
              olpopup.setPosition(undefined);
              return false;
          };
          var OpenPopup = function (evt) {
              var feature = map.forEachFeatureAtPixel(evt.pixel,
              function (feature, layer) {
                  if (isCluster(feature)) {
                    var coord = map.getCoordinateFromPixel(evt.pixel);
                    if (typeof feature.get('features') === 'undefined') {
                        popup_content.innerHTML =feature.get('name');
                    } else {
                    var cfeatures = feature.get('features');
                    if (cfeatures.length > 1) {
                        popup_content.innerHTML = ' ';
                        for (var i = 0; i < cfeatures.length; i++) {
                          $(popup_content).append('<a href="/location/'+cfeatures[i].get('name')+'">'+cfeatures[i].get('name')+'<br>');
                        }
                    }
                    if (cfeatures.length == 1) {
                        popup_content.innerHTML = '<a href="/location/'+cfeatures[0].get('name')+'">'+cfeatures[0].get('name')+'<br>';
                    }
                      }
                      olpopup.setPosition(coord);
                    };
              });
              var pixel = map.getEventPixel(evt.originalEvent);
              var hit = map.hasFeatureAtPixel(pixel);
              map.getTarget().style.cursor = hit ? 'pointer' : '';
          };
          map.on('pointermove', OpenPopup);

          function isCluster(feature) {
              if (!feature || !feature.get('features')) {
                    return false;
              } else if (feature.get('features').length == 1) {
                    return true;
              } else {
                  return true;
              }
            }

            map.on('click', function(evt) {
              var feature = map.forEachFeatureAtPixel(evt.pixel,
                    function(feature) { return feature; });
              if (isCluster(feature)) {
                // is a cluster, so loop through all the underlying features
                var features = feature.get('features');
                for(var i = 0; i < features.length; i++) {
                  // here you'll have access to your normal attributes:
                  // console.log(features[i].get('name'));
                  window.location = "/location/"+features[i].get('name');
                  // return feature;
                }
              } else {
                // not a cluster
                // console.log(feature.get('name'));
                window.location = "/location/"+feature.get('name');
              }
            });


        </script>
        <br>
        <p>At locations where no tide gauged station is available, gridded sea level projections can be selected (yellow squares). Gridded sea level projections come with substantially higher uncertainities. Therefore, <b>we strongly recommend to use projections for tide gauged stations</b> whenever this is possible!</p>
        <br>
        <p>Sea level projections are presented for three <b>emission scenarios</b>:
          <ul>
            <li>A scenario compatible with the Paris Agreement (RCP26)</li>
            <li>A scenario reaching +2.5°C at the end of the century (RCP45)</li>
            <li>A scenario exceeding +4°C at the end of the century (RCP85)</li>
          </ul>
          Allthough these emission scenarios are different from  2006 onwards, differences in sea level rise only become apparent in the second half of the 21st century. This is due to the slow and time-lagged response of sea levels to greenhouse gas forcings.<p>
        <h3>References</h3>
        <p id="ref" style="font-size:80%;"><a href="https://pubs.giss.nasa.gov/abs/ko01500z.html">Kopp R E, Horton R M, Little C M, Mitrovica J X, Oppenheimer M, Rasmussen D J, Strauss B H and Tebaldi C 2014 Earth’s Future Probabilistic 21st and 22nd century sea-level projections at a global network of tide-gauge sites Earth’s Future</a></p>
      </div>
    </div>


    <div id="LeftPanel" align='left' style="width: 45%; height: 100%; float: left; padding-left: 3%; padding-right: 0%;">

      <div id="LeftPanel" align='left' style="width: 100%; float: left; padding-top=5%">
          {% if name.split('_')[0]=='Grid' %}
          <p style="background-color:rgba(250,170,170,0.5);"><b>We strongly recommend using projections for tide gauged stations if possible!</b></p>
          {% endif %}
          <!-- <div class="ui-widget" align='center' style="width: 100%;">
            <form method="POST" action="/location_typed">
              <input id="tags" name='station' value="{{name}}">
           </form>
          </div> -->
            <form method="POST" action="/prepare_for_download/{{name}}" style="float: right;"><button type="submit" class="label label-primary" style="margin-right: 5px;">get<br>pdf</button></form>
          <IMG SRC={{ plot_file }} ALT=' ' WIDTH=90%></IMG>
          <p>Local sea level projections for {{name.replace('Grid_','lat ').replace('_',' lon ')}} for a scenario compatible with the Paris agreement (green), a scenario leading to +2.5°C global mean temperature (orange) and a scenario exceeding +4°C (red). The solid lines represent multi-model medians, the shaded areas include 66% of the models.</p>
      </div>
      <br>
      <div id="LeftPanel" align='left' style="width: 100%; height: 100%; float: left; padding-top=5%">
        <table class="table">
          <thead>
            <tr>
              <th colspan="5">{{rcp}}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th colspan="5"><div align="center">Local Sea Level Rise [cm] </div></th>
              <!-- <font color="color:{{color_dict["rcp26"]}};">RCP26</font> <font color="color:{{color_dict["rcp45"]}};">RCP45</font> <font color="color:{{color_dict["rcp85"]}};">RCP85</font> -->
            </tr>
             <tr>
              <th> decade</th><th>median</th><th colspan="2">uncertainty ranges</th>
            </tr>
            <tr>
              <td> </td><td> </td><td>66%</td><td>90%</td>
            </tr>
            {% for year in [2030,2050,2100,2150,2200] %}
              <tr>
                <td>{{year}}</td>
                {% for val in ['50','17-83','5-95'] %}
                <td>
                  {% for rcp in ['rcp26','rcp45','rcp85'] %}
                  <!-- <font color={{color_dict[rcp]}}>{{table[rcp][year][val]}}</font> -->
                    <div style="color:{{color_dict[rcp]}};">{{table[rcp][year][val]}}</div>
                  {% endfor %}
                </td>
                {% endfor %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <p>Local sea level projections for {{name.replace('Grid_','lat ').replace('_',' lon ')}} as in the above figure listed for some selected decades. The first column shows the multi-model median projections (solid line of the figure), columns 2 shows the 66% uncertainty range (shaded area in the figure), column 3 shows the 90% uncertainty range, and column 4 shows the upper limit defined as the 99th percentile of the ensemble projections. As in the figure, the Paris-compatible scenario is shown in green, the +2.5°C scenario in orange and the above +4°C scenario in red.</p>
        <br>
      </div>

    </div>
  </div>
  <div id="upper_block" align=left style="width: 100%; height: 10px; float: left; padding-bottom: 0%; background: rgba(170,170,170,0.8);">
  </div>
  <div id="upper_block" align=left style="width: 100%; height: 10px; float: left; padding-bottom: 0%; ">
  </div>
  <div id="lower_part" align=left style="width: 100%; height: 100%; float: left; padding-right: 0%; background: rgba(170,170,170,0.0);">
    <div id="LeftPanel" align=left style="width: 45%; height: 100%; float: left; padding-left: 2%; padding-right: 2%; background: rgba(170,170,170,0.2);">
        <h3>Contributions to local sea level rise</h3>
        <p>The contributing components modelled by <a href="https://pubs.giss.nasa.gov/abs/ko01500z.html">Robert Kopp et al. (2014)</a> are:<br>
          <b>Antarctic and Greenland ice sheets (AIS & GIS)</b> based on IPCC AR5 and expert elicitation, <b>glacier and ice caps (GIC)</b> based on an improvement of the IPCC AR5 method, <b>oceanic processes (ocean)</b> including thermal expansion and dynamic effects taken from CMIP5 simulations, <b>land water storage (LWS)</b> taking into account changes in population, and all non-climatic contributions combined into <b>background effects (Bkgd)</b>.
        </p>

      </div>


      <div id="LeftPanel" align='left' style="width: 45%; height: 100%; float: left; padding-left: 3%; padding-right: 0%;">
          <div id="LeftPanel" align='left' style="width: 100%; float: left; padding-bottom=10%; background: rgba(170,2,170,0.0);">
            Show source of variance for:  <button onclick="myFunction('rcp26')">RCP26</button> <button onclick="myFunction('rcp45')">RCP45</button> <button onclick="myFunction('rcp85')">RCP85</button>
            <br><br>
            <div id="rcp26"><IMG SRC={{ decomposition_plot_file_rcp26 }} ALT=' ' WIDTH=100%></IMG>
              <!-- <form method="POST" action="/prepare_for_download_decomp/{{name}}**rcp26" style="float: right;"><button type="submit" class="label label-primary" style="margin-right: 5px;">get pdf</button></form> -->
            </div>
            <div id="rcp45"><IMG SRC={{ decomposition_plot_file_rcp45 }} ALT=' ' WIDTH=100%></IMG>
              <!-- <form method="POST" action="/prepare_for_download_decomp/{{name}}**rcp45" style="float: right;"><button type="submit" class="label label-primary" style="margin-right: 5px;">get pdf</button></form> -->
            </div>
            <div id="rcp85"><IMG SRC={{ decomposition_plot_file_rcp85 }} ALT=' ' WIDTH=100%></IMG>
              <!-- <form method="POST" action="/prepare_for_download_decomp/{{name}}**rcp85" style="float: right;"><button type="submit" class="label label-primary" style="margin-right: 5px;">get pdf</button></form> -->
            </div>
            <div id="decomp_caption">
              <br>
              <p>Source of variance in local sea level projections for all contributing components in absolute terms (left) and as fraction of total variance (right).</p>
            </div>
            <script>
            document.getElementById("rcp26").style.display = "none"
            document.getElementById("rcp45").style.display = "none"
            document.getElementById("rcp85").style.display = "none"
            document.getElementById("decomp_caption").style.display = "none"
            function myFunction(rcp) {
                var x = document.getElementById(rcp);
                if (rcp!="rcp26") {
                  document.getElementById("rcp26").style.display = "none"
                }
                if (rcp!="rcp45") {
                  document.getElementById("rcp45").style.display = "none"
                }
                if (rcp!="rcp85") {
                  document.getElementById("rcp85").style.display = "none"
                }
                if (x.style.display === "none") {
                    x.style.display = "block";
                } else {
                    x.style.display = "none";
                }
                var x = document.getElementById("decomp_caption");
                if (x.style.display === "none") {
                    x.style.display = "block";
                }

            }
            </script>
          </div>
        </div>
    </div>
  </div>
</div>

{% endblock %}
