{% extends "index.html" %}
{% block content %}
<div id="loading"><div id="overlay"></div><div id='overlay_text'><h1>Loading ... </h1></div></div>

<div id="content">
<div id="LeftPanel" align='center' style="width: 50%; height: 100%; float: left;">
<h3>Choose a location:</h3>
<div id="map" class="map"><div id="popup"></div></div>
<script>

  var iconFeatures =[];
  var station_names = {{station_names|safe}};
  var station_lons = {{station_lons|safe}};
  var station_lats = {{station_lats|safe}};
  var nstations = {{nstations}};

  for (i = 0; i<nstations; i++){
    var iconFeature = new ol.Feature({
      geometry: new ol.geom.Point(ol.proj.fromLonLat([station_lons[i],station_lats[i]], 'EPSG:4326')),
      name: station_names[i],
    });
    var iconStyle = new ol.style.Style({
      image: new ol.style.Icon(/** @type {olx.style.IconOptions} */ ({
        anchor: [0.5, 1],
        anchorXUnits: 'fraction',
        anchorYUnits: 'fraction',
        src: 'http://dev.openlayers.org/img/marker-green.png'
      }))
    });
    iconFeature.setStyle(iconStyle);
    iconFeatures.push(iconFeature);
  }

  var grid_names = {{grid_names|safe}};
  var grid_xmin = {{grid_xmin|safe}};
  var grid_xmax = {{grid_xmax|safe}};
  var grid_ymin = {{grid_ymin|safe}};
  var grid_ymax = {{grid_ymax|safe}};
  var ngrid = {{ngrid}};

  for (i = 0; i<ngrid; i++){
    var iconFeature = new ol.Feature({
      geometry: new ol.geom.Polygon.fromExtent(ol.proj.fromLonLat([grid_xmin[i],grid_ymin[i],grid_xmax[i],grid_ymax[i]], 'EPSG:4326'))  ,
      name: grid_names[i],
    });
    var iconStyle = new ol.style.Style({
      fill: new ol.style.Fill({
        color: [150, 150,0,0.3],
      }),
      stroke: new ol.style.Stroke({
        color: [150, 150,0,1],
        width: 2
      })
    });
    iconFeature.setStyle(iconStyle);
    iconFeatures.push(iconFeature);
  }

  var vectorSource = new ol.source.Vector({
    features: iconFeatures
  });

  var vectorLayer = new ol.layer.Vector({
    source: vectorSource,
  });

  var rasterLayer = new ol.layer.Tile({
    source: new ol.source.TileJSON({
      url: 'https://api.tiles.mapbox.com/v3/mapbox.natural-earth-hypso-bathy.json?secure',
      crossOrigin: ''
    })
  });

  var center_lon = {{center_lon}};
  var center_lat = {{center_lat}};
  var zoom = {{zoom}};
  var map = new ol.Map({
    layers: [rasterLayer, vectorLayer],
    target: document.getElementById('map'),
    view: new ol.View({
      center: ol.proj.fromLonLat([center_lon, center_lat], 'EPSG:4326'),
      zoom: zoom,
      projection: 'EPSG:4326'
    })
  });

  var element = document.getElementById('popup');

  var popup = new ol.Overlay({
    element: element,
    positioning: 'bottom-center',
    stopEvent: false,
    offset: [0, -50]
  });
  map.addOverlay(popup);

  // display popup on click
  map.on('click', function(evt) {
    var feature = map.forEachFeatureAtPixel(evt.pixel,
        function(feature) {
          return feature;
        });
    if (feature) {
      var coordinates = feature.getGeometry().getCoordinates();
      popup.setPosition(coordinates);
      window.location = "/location/"+feature.get('name');
      $(element).popover({
        'placement': 'top',
        'html': true,
        'content': feature.get('name')
      });
      $(element).popover('show');
    } else {
      $(element).popover('destroy');
    }

  });

  // change mouse cursor when over marker
  map.on('pointermove', function(e) {
    if (e.dragging) {
      $(element).popover('destroy');
      return;
    }
    var pixel = map.getEventPixel(e.originalEvent);
    var hit = map.hasFeatureAtPixel(pixel);
    map.getTarget().style.cursor = hit ? 'pointer' : '';
  });
</script>

<div align='left'>
  <br>
  <IMG SRC='/static/marker-gold.png' ALT=' ' WIDTH=3%></IMG> Tide gauged station<br>
  <IMG SRC='/static/marker-green.png' ALT=' ' WIDTH=3%></IMG> From gridded dataset<br>
</div>

</div>

<div id="LeftPanel" align=center style="width: 45%; height: 100%; float: left; padding-left: 5%;">
  <h3>{{name}}</h3>
  <IMG SRC={{ plot_file }} ALT=' ' WIDTH=100%></IMG>
</div>
<div id="LeftPanel" align=center style="width: 90%; height: 100%; float: left; padding-left: 5%;">
  <table class="table">

    <thead>
      <tr>
        <th colspan="5">{{rcp}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>decade</td><td>50</td><td>17-83</td><td>5-95</td><td>99.9</td>
      </tr>
      {% for year in [2030,2050,2100,2150,2200] %}
        <tr>
          <td>{{year}}</td>
          {% for val in ['50','17-83','5-95','99.9'] %}
          <td>
            {% for rcp in ['rcp26','rcp45','rcp85'] %}
            <!-- <font color={{color_dict[rcp]}}>{{table[rcp][year][val]}}</font> -->
              <div style="color:{{color_dict[rcp]}};">{{table[rcp][year][val]}}</div>
            {% endfor %}
          </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
</table>
</div>
</div>
{% endblock %}
